CODEATLAS_DATABASE_URL=postgres://codeatlas:codeatlas-local-dev@localhost:55432/codeatlas
CODEATLAS_TEST_DATABASE_URL=postgres://codeatlas:codeatlas-local-dev@localhost:55432/codeatlas_test
CODEATLAS_TEST_ENVIRONMENT=1

CODEATLAS_SOURCE_ENDPOINT=http://localhost:59000
CODEATLAS_SOURCE_REGION=us-east-1
CODEATLAS_SOURCE_BUCKET=codeatlas-source
CODEATLAS_TEST_SOURCE_BUCKET=codeatlas-source-test
CODEATLAS_SOURCE_ACCESS_KEY=codeatlas
CODEATLAS_SOURCE_SECRET_KEY=codeatlas-local-dev
CODEATLAS_SOURCE_FORCE_PATH_STYLE=true
